<div class="main-div">
    <div *ngIf="!ratedAll" class="container">
        <div class="wrapper">
            <div class="book-div">
                <p>Title: {{books[index].title}}</p>
                <p>Description: {{books[index].description}}</p>
                <p>Author: {{books[index].author}}</p>
                <p>Rating: {{calculateRating(books[index].rating)}}</p>
            </div>
            <div class="edit-fields">
                <input (input)="getInfo($event)" id="title" type="text" placeholder="Title">
                <input (input)="getInfo($event)" id="description" type="text" placeholder="Description">
                <input (input)="getInfo($event)" id="author" type="text" placeholder="Author">
            </div>
        </div>

        <div class="rating-buttons">
            <p>Rate this book</p>
            <div>
                <button (click)="giveRating(1)">1</button>
                <button (click)="giveRating(2)">2</button>
                <button (click)="giveRating(3)">3</button>
                <button (click)="giveRating(4)">4</button>
                <button (click)="giveRating(5)">5</button>
            </div>
        </div>
        
    </div>
    <div *ngIf="ratedAll && !hasFinished" class="rated-all">
        <h1>Thank you! You rated all of our books!</h1>
        <button (click)="readAgain()">Rate all of them again</button>
        <button (click)="finish()">No thank you!</button>
    </div>
    <h1 *ngIf="hasFinished">Thank you once again! You rated all of the books! Now you can chill</h1>
</div>